* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.base-container {
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.sidebar-container {
    width: 25%;
    height: 100%;
    background: lightblue;
}

.history {
    margin: 0;
    padding: 0 1em;
    height: 100%;
    overflow-y: scroll;
}

.action {
    font-family: sans-serif;
    padding: 1em;
    border-bottom: 1px solid #aaa;
    list-style: none;
}

.base {
    background: #eee;
}

.text {
    cursor: text;
    padding: 5px;
}

.textbox .text {
    padding: 0;
}

.text,
.textbox {
    font-family: sans-serif;
    font-size: 20px;
    outline: none;
    max-width: 500px;
}

.textbox {
    border: 5px solid #ccc;
    background: none;
    padding: 0;
    cursor: grab;
}

.group {
    background: #ddd;
    z-index: -2;
}

.preview-group {
    background: #bbb;
    z-index: -1;
}

