* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.base-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.base {
    background: #eee;
}

.text {
    cursor: text;
    padding: 5px;
}

.textbox .text {
    padding: 0;
}

.text,
.textbox {
    font-family: sans-serif;
    font-size: 20px;
    outline: none;
    max-width: 500px;
}

.textbox {
    border: 5px solid #ccc;
    background: none;
    padding: 0;
    cursor: grab;
}

.group {
    background: #ddd;
    z-index: -2;
}

.preview-group {
    background: #bbb;
    z-index: -1;
}